<configuration debug="false">
  <property resource="logback.properties"/>

  <!--
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender" level="debug">
    <file>logs/log.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
          <fileNamePattern>logs/log.%i.log.zip</fileNamePattern>
          <minIndex>1</minIndex>
          <maxIndex>3</maxIndex>
      </rollingPolicy>

      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
          <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
    <encoder>
      <pattern>${layout}</pattern>
    </encoder>
  </appender>
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" level="debug">
    <encoder>
      <pattern>${layout}</pattern>
    </encoder>
  </appender>

  <logger name="com.gambaeng.utils.OptionParser" level="info" additivity="true">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="trace">
    <!-- <appender&#45;ref ref="FILE" /> -->
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
